
.movieCard{
    text-align: center;
}
.movieCard img{
    width: 100%;
    height: 300px;
}

.menuItems a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.menuItems a:hover{
    color: rgb(255, 0, 0);
}
